.toolbarPopupMenu {
	border: 1px solid #aaaaaa;
}

.addLayerPopup {
	border: 1px solid #aaaaaa;
}

.legendIcon {
	border: 1px solid #aaaaaa;
}

.InfoPopup {
	border: 1px solid #aaaaaa;
}

.DownloadPopup-attached {
	border: 1px solid #aaaaaa;
}